@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  font-family: "Kanit", sans-serif;
  /* background-image: url("images.png"); */
  background-size: cover;
  background-position: center;
  animation: movement 10s infinite linear;
}

@keyframes movement {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

pre {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  /* width: max-content; */
  justify-content: start;
  background: #213555;
  border-radius: 8px;
  padding: 24px 36px;
}

code {
  color: white;
}
input {
  width: 12%;
  height: 24px;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px dotted red;
  color: #000;
  margin-right: 8px;
  /* background: #ffff; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 840px) {
  pre {
    width: max-content;
  }
  code {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.Table-Sale {
  @apply w-full border-collapse rounded-lg bg-black;
}
.Table-Row {
  @apply border-b-2  bg-transparent py-3;
  /* border-red */
}
.Table-Head-Text {
  @apply py-3 text-base px-4  text-white;
  /* text-base px-4 font-lato  */
}
.Table-Head-Text.Table-Number {
  @apply w-12;
}
.Table-Head-Text.Table-Sale-List {
  @apply w-20;
}
.Table-Head-Text.Table-Date {
  @apply w-28;
}
.Table-Head-Text.Table-Action {
  @apply w-36;
}
.Table-Body {
  text-align: center;
  background-color: rgb(43, 5, 5);
  /* display: flex; */
  /* background-color: green; */
}
.Table-Info {
  @apply w-fit py-2 px-4 text-white;
}
.Table-Info.Table-Index {
  @apply text-center;
}
.Table-Row:nth-child(even) {
  @apply w-fit bg-[#282727CC] py-2 px-4;
}

.View-Container {
  width: 100vw;
  heigh: 100vh;
  display: flex;
  position: relative;
  /* background-color: blue; */
}

.Modal {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
